&-blog {
	&-artical {
		border: 1px solid $default-border;
		margin-bottom: $font-size-base * 2;
		overflow: hidden;
		border-radius: $border-radius*2;
	}

	&-inner {
		margin: $font-size-base $font-size-base;
	}

	&-header {
		margin-top: $font-size-base;
		margin-bottom: $font-size-base;

		.title {
			font-size: $font-size-base * 1.5;
			line-height: 1.2;
			// font-family: $font-family-barlow;
			// font-weight: 500;

			a {
				display: block;
				color: $dark;
			}
		}

		&-top {
			margin-top: auto;
			margin-bottom: $font-size-base*2;
		}
	}

	&-footer {
		margin-top: $font-size-base * 1.8;
	}

	&-content {
		margin-top: $font-size-base;

		blockquote,
		.blockquote {
			margin: $font-size-base auto;
			border-left: 5px solid lighten($secondary, 30%);
			padding: 0 $font-size-base * 1.5;
			@include text-social();
			font-size: $font-size-base * 1.2;
		}
		&-mini{
			@include text-ellipsis();
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 3;
			max-height: $font-size-base * 4.66;
		}
	}
}
