&-search {
  min-height: 40vh;
  position: relative;
  z-index: 2;
  padding: $font-size-base*2 0;
  
  &-artical {
    // padding: $font-size-base * 2 0;
    z-index: 1;

    &-detail {
      padding: $font-size-base * 7 0;

    }
  }
}
