<!DOCTYPE html>
<html lang="en">

<head>
  <title>travel-india-tour </title>
  <meta name="Description"
    content="The job search program for busy high achievers in the next 90 days. We offer mid career job consulting, ATS optimised resume writing and Linkedin profile enhancement and optimisation.">
  <meta name="Keywords"
    content="travel-india-tour.in, charmingyatra, travel-india-tour, resume writing, resume builder, job search program, job search, career counselling, career consulting, career opportunities, online resume, online resume writing,">
  <link rel="canonical" href="https://travel-india-tour.in/" />
  <meta property="og:url" content="https://travel-india-tour.in/" />

  <%- include('../inc/header-meta.ejs') %>
</head>

<body>
  <%- include('../inc/header-main.ejs') %>
    <section class="section-parallax parallax" data-bg-img="images/about.jpeg">
      <div class="container-md m-auto">
        <div class="section-parallax-title text-white">
          <h1 class="title text-white h1">Contact Us</h1>
          <div class="title-sub text-white h4">We offer businesses a complete array of networking solutions to fit any
            budget</div>
        </div>
      </div>
    </section>
    <div class="inner-page ">
      <div class="container">
        <section class="section-parallax-detail">
          <div class="section-parallax-thumbnail"><img src="images/banner/slider-banner-6.jpg" alt=""></div>
          <div class="section-parallax-heading text-white">
            <h1 class="title text-white h1">Contact Us</h1>
            <div class="duration">17/44, Geeta Colony Rd, near Malik gas agencies, Shastri Nagar, Geeta Colony, New
              Delhi, Delhi, 110031</div>
          </div>
        </section>
      </div>
      <%- include('../partials/contact-us.ejs')%>

        <%- include('../inc/footer.ejs') %>
    </div>
</body>

</html>