<!DOCTYPE html>
<html lang="en">

<head>
    <title>Thanks | charmingyatra</title>
    <meta name="description"
        content="travel-india-tour.in is a personalized, tailor-made job consulting site for busy high achievers looking for brand new career opportunities" />
    <link rel="canonical" href='https://travel-india-tour.in/thanks.html' />
    <meta property="og:url" content="https://travel-india-tour.in/thanks.html" />

    <%- include('../inc/header-meta.ejs') %>
</head>

<body>
    <%- include('../inc/header-main.ejs') %>
        <%- include('../partials/thanks.ejs') %>
            <%- include('../inc/footer.ejs') %>
</body>

</html>