<div class="modal fade" id="termsNoNomination" tabindex="-1" role="dialog" aria-labelledby="termsNoNominationLabel" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header-terms">
                <h5 class="modal-title with-center">Terms & Conditions</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-page-list">
                    <div class="content">
                        I / We hereby confirm that I / We do not wish to appoint any nominee(s) in my / our trading / demat
account and understand the issues involved in non-appointment of nominee(s) and further are aware
that in case of death of all the account holder(s), my / our legal heirs would need to submit all the
requisite documents / information for claiming of assets held in my / our trading / demat account,
which may also include documents issued by Court or other such competent authority, based on the
value of assets held in the trading / demat account.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>