<div class="modal fade" id="termsNomination" tabindex="-1" role="dialog" aria-labelledby="termsNominationLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header-terms">
                <h5 class="modal-title with-center"> RIGHTS & OBLIGATIONS OF STOCK BROKERS & CLIENTS FOR MARGIN TRADING
                    FACILITY (MTF) AS PRESCRIBED BY NSE:</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div class="modal-page-list">
                    <div class="header">CLIENT RIGHTS</div>
                    <ul class="page-list">
                        <li>Client shall receive all communications in a mode mutually agreed between the broker and the
                            client regarding confirmation of orders/trades, margin calls, decision to liquidate the
                            position / security.</li>
                        <li>Client shall be free to take the delivery of the securities at any time by repaying the
                            amounts that was paid by the Stock Broker to the Exchange towards securities after paying
                            all dues.</li>
                        <li>Client has a right to change the securities collateral offered for Margin Trading Facility
                            at any time so long as the securities so offered are approved for margin trading facility.
                        </li>
                        <li>Client may close / terminate the Margin Trading Account at any time after paying the dues.
                        </li>
                    </ul>
                </div>
                <div class="modal-page-list">
                    <div class="header">CLIENT OBLIGATIONS</div>
                    <ul class="page-list">
                        <li>Client shall, in writing in his own hand or in any irrefutable electronic method, agree to
                            avail of Margin Trading Facility in accordance with the terms and conditions of Margin
                            Trading Facility offered by the broker, method of communication for confirmation of
                            orders/trades, margin calls and calls for liquidation of collateral/security/position.</li>
                        <li>Client shall inform the broker of its intent to shift the identified transaction under
                            Margin Trading Facility within the time lines specified by the broker failing which the
                            transaction will be treated under the normal trading facility</li>
                        <li>Client shall place the margin amounts as the Stock Broker may specify to the client from
                            time to time.</li>
                        <li>On receipt of „margin call‟, the client shall make good such deficiency in the amount of
                            margin placed with the Stock Broker within such time as the Stock Broker may specify.</li>
                        <li>By agreeing to avail Margin Trading Facility with the broker, client is deemed to have
                            authorized the broker to retain and/or pledge the securities provided as collateral or
                            purchased under the Margin Trading Facility till the amount due in respect of the said
                            transaction including the dues to the broker is paid in full by the client.</li>
                        <li>Client shall lodge protest or disagreement with any transaction done under the margin
                            trading facility within the timelines as may be agreed between the client and broker. </li>
                    </ul>
                </div>
                <div class="modal-page-list">
                    <div class="header">STOCK BROKER RIGHTS</div>
                    <ul class="page-list">
                        <li>Stock Broker and client may agree between themselves the terms and condition including
                            commercial terms if any before commencement of MTF.</li>
                        <li>Stock broker may set up its own risk management policy that will be applicable to the
                            transactions done under the Margin Trading Facility. Stock broker may make amendments there
                            to at any time but give effect to such policy after the amendments are duly communicated to
                            the clients registered under the Margin Trading Facility.</li>
                        <li>The broker has a right to retain and/or pledge the securities provided as collateral or the
                            securities bought by the client under the Margin Trading Facility.</li>
                        <li>The broker may liquidate the securities if the client fails to meet the margin call made by
                            the broker as mutually agreed of liquidation terms but not exceeding 5 working days from the
                            day of margin call. </li>
                    </ul>
                </div>
                <div class="modal-page-list">
                    <div class="header">STOCK BROKER OBLIGATIONS</div>
                    <ul class="page-list">
                        <li>Stock broker shall agree with the client the terms and condition before extending Margin
                            Trading Facility to such client. However, for clients who already have existing trading
                            relationship and want to avail of Margin Trading Facility, stock broker may take consent in
                            writing in his own hand or in any irrefutable electronic method after stock broker has
                            communicated the terms and conditions of Margin Trading Facility to such existing clients.
                        </li>
                        <li>The terms and conditions of Margin Trading Facility shall be identified separately, in a
                            distinct section if given as a part of account opening agreement.</li>
                        <li>The mode of communication of order confirmation, margin calls or liquidation of
                            position/security shall be as agreed between the broker and the client and shall be in
                            writing in his own hand or in any irrefutable electronic method. Stock broker shall
                            prescribe and communicate its margin policies on haircuts/ VAR margins subject to minimum
                            requirements specified by SEBI and exchanges from time to time.</li>
                        <li>The Stock Broker shall monitor and review on a continuous basis the client‟s positions with
                            regard to MTF. It is desirable that appropriate alert mechanism is set up through which
                            clients are alerted on possible breach of margin requirements.</li>
                        <li>Any transaction to be considered for exposure to MTF shall be determined as per the policy
                            of the broker provided that such determination shall happen not later than T + 1 day.</li>
                        <li>If the transaction is entered under margin trading account, there will not be any further
                            confirmation that it is margin trading transaction other than contract note.</li>
                        <li>In case the determination happens after the issuance of contract, the broker shall issue
                            appropriate records to communicate to Client the change in status of transaction from Normal
                            to Margin trading and should include information like the original contract number and the
                            margin statement and the changed data.</li>
                        <li>The Stock Broker shall make a „margin call‟ requiring the client to place such margin; any
                            such call shall clearly indicate the additional/deficient margin to be made good.</li>
                        <li>Time period for liquidation of position/security shall be in accordance declared policy of
                            the broker as applicable to all MTF clients consistently. However, the same should not be
                            later than 5 working (trading) days from the day of „margin call‟. If securities are
                            liquidated, the contract note issued for such margin call related transactions shall carry
                            an asterisk or identifier that the transaction has arisen out of margin call.</li>
                        <li>The daily margin statements sent by broker to the client shall identify the
                            margin/collateral for Margin Trading separately.</li>
                        <li>Margin Trading Accounts where there was no transactions for 90 days shall be settled
                            immediately.</li>
                        <li>The stocks deposited as collateral with the stock broker for availing margin trading
                            facility (Collaterals) and the stocks purchased under the margin trading facility (Funded
                            stocks) shall be identifiable separately and there shall not be any comingling for the
                            purpose of computing funding amount;</li>
                        <li>Stock Broker shall close/terminate the account of the client forthwith upon receipt of such
                            request from the client subject to the condition that the client has paid dues under Margin
                            Trading Facility.</li>

                    </ul>
                </div>
                <div class="modal-page-list">
                    <div class="header">TERMINATION OF RELATIONSHIP</div>
                    <ul class="page-list">
                        <li>The margin trading arrangement between the stock broker and the client shall be terminated;
                            if the Stock Exchange, for any reason, withdraws the margin trading facility provided to the
                            Stock Broker or the Stock Broker surrenders the facility or the Stock Broker ceases to be a
                            member of the stock exchange.</li>
                        <li>The MTF facility may be withdrawn by the broker, in the event of client committing any
                            breach of any terms or conditions therein or at any time after due intimation to client
                            allowing such time to liquidate the MTF position as per the agreed liquidation terms without
                            assigning any reason. Similarly, client may opt to terminate the margin trading facility in
                            the event of broker committing any breach of any terms or conditions therein or for any
                            other reason.</li>
                        <li>In the event of termination of this arrangement, the client shall forthwith settle the dues
                            of the Stock Broker. The Stock Broker shall be entitled to immediately adjust the Margin
                            Amount against the dues of the client, and the client hereby authorizes the Stock Broker to
                            make such adjustment.</li>
                        <li>After such adjustment, if any further amount is due from the client to the Stock Broker, the
                            client shall settle the same forthwith. Upon full settlement of all the dues of the client
                            to the Stock Broker, the Stock Broker shall release the balance amount to the client.</li>
                        <li>If the client opts to terminate the margin trading facility, broker shall forthwith return
                            to the client all the collaterals provided and funded securities retained on payment of all
                            the dues by clients.</li>
                    </ul>
                </div>
                <div class="sec-header">RIGHTS AND OBLIGATIONS RELATING TO MARGIN TRADING FACILITY PROVIDED BY STOCK
                    BROKER/ TRADING MEMBER TO CLIENTS AS PRESCRIBED BY BSE.</div>
                <div class="modal-page-list">
                    <ul class="page-list">
                        <li>Stock Broker/ Trading Member is eligible to provide Margin Trading Facility (MTF) in
                            accordance with SEBI& Exchange Guidelines as specified from time to time.</li>
                        <li>Stock Broker/ Trading Member desirous of extending MTF to their clients is required to
                            obtain prior permission of BSE. Stock Broker/ Trading Member may note that BSE has the right
                            to withdraw the permission at anytime.</li>
                        <li>Stock Broker/ Trading Member shall extend the MTF to the client, on such terms and
                            conditions as specified by the Stock Exchange / SEBI from time to time. Stock Broker/
                            Trading Member and the client shall abide by the requirements of the margin trading
                            framework, including rights and obligations, as prescribed by Stock Exchange/ SEBI/ Stock
                            Broker/ Trading Member.</li>
                        <li>Stock Broker/ Trading Member shall intimate all the terms and conditions, including maximum
                            allowable exposure, specific stock exposures etc., as well as the rights and obligations to
                            the client desirous of availing MTF.</li>
                        <li>Stock Broker/ Trading Member may, at its sole and absolute discretion, increase the limit of
                            initial and/or maintenance margin, from time to time. The Client shall abide by such
                            revision, and where there is an upward revision of such margin amount, he agrees to make up
                            the shortfall within such time as the Stock Broker/ Trading Member may permit. It may
                            however, be noted that the initial/ maintenance margins shall never be lower than that
                            prescribed by Stock Exchange/ SEBI.</li>
                        <li>Stock Broker/ Trading Member shall provide MTF only in respect of such shares, as may be
                            permitted by Stock Exchange/ SEBI.</li>
                        <li>Stock Broker/ Trading Member shall liquidate the securities and other collateral, if the
                            client fails to meet the margin call to comply with the margin requirement as specified by
                            Stock Exchange/ SEBI/ Stock Broker/ Trading Member. In this regard, Stock Broker/ Trading
                            Member shall also list down situations/ conditions in the which the securities may be
                            liquidated (Stock Broker/ Trading Member to list down situations/ conditions):</li>
                        <li>Stock Broker/ Trading Member shall not use the funds of one client to provide MTF to another
                            client, even if the same is authorized by the first client.</li>
                        <li>The stocks deposited as collateral with the Stock Broker/ Trading Member for availing margin
                            trading facility (Collaterals) and the stocks purchased under the margin trading facility
                            (Funded stocks) shall be identifiable separately and no comingling shall be permitted for
                            the purpose of computing funding amount.</li>
                        <li>IPF shall not be available for transactions done on the Stock Exchange, through MTF, in case
                            of any losses suffered in connection with the MTF availed by the client. The rights and
                            obligations prescribed hereinabove shall be read in conjunction with the rights and
                            obligations as prescribed under SEBI circular no. CIR/ MIRSD/ 16/ 2011 dated August 22,
                            2011.</li>
                    </ul>
                </div>
                <div class="sec-header">POLICIES & PROCEDURES FOR MARGIN TRADING FACILTY AS PRESCRIBED BY GLOBE CAPITAL
                    MARKET LIMITED.</div>
                <div class="modal-page-list">
                    <div class="header">APPLICABILITY</div>
                    <ul class="page-list">
                        <li>We, Globe Capital Market Limited (GCML), are member of National stock Exchange of India
                            Limited (NSEIL), BSE Limited (BSE) and Metropolitan Stock Exchange of India Limited and are
                            eligible to provide Margin Trading Facility (MTF) in National stock Exchange of India
                            Limited (NSEIL) and BSE Limited (BSE) to our clients in accordance with prescribed
                            guidelines Rules and circulars issued by Stock Exchanges / SEBI from time to time.</li>
                        <li>Providing Margin Trading Facility (MTF) shall be at the discretion of GCML. Client‟s request
                            for availing MTF may be rejected without assigning any reason.</li>
                        <li>Transactions /Trades executed under MTF are subject to “Policy & Procedures for MTF” as
                            specified by GCML. GCML may amend the policies from time to time according to its risk
                            perceptions and inform the Clients of the amendments made. Any modifications to the terms
                            and conditions shall be intimated to the Clients, except otherwise for the clauses specified
                            separately.</li>
                        <li>In addition to Right and Obligation as specified by Exchanges and SEBI, the client agrees to
                            abide by the terms & conditions as enumerated hereafter in “Policy & Procedures for MTF”.
                            Further, GCML and clients agree to abide by any other requirements of the margin trading
                            framework, including other rights and obligations, if any, prescribed by the Stock Exchange/
                            SEBI/ GCML from time to time.</li>
                        <li>This policy prescribed herein below shall be read in conjunction with the framework for
                            Margin Trading Facility as prescribed under SEBI Circular No. CIR/MRD/DP/54/2017 dated June
                            13, 2017, the circulars relating to MTF issued by the Stock Exchanges/SEBI, any
                            modifications thereto from time to time and the Policies and Procedures as prescribed by
                            GCML and the terms and conditions as mutually agreed between the client and GCML.</li>
                    </ul>
                    <div class="header">ELIGIBLE SECURITIES & MARGIN</div>
                    <ul class="page-list">
                        <li>Securities specified under “MTF APPROVED CATEGORY LIST” by GCML from time to time which must
                            be a part of “Group I” security as per Exchanges/ SEBI shall be eligible for margin trading
                            facility. GCML reserves the right to include or exclude any Securities from its “MTF
                            APPROVED CATEGORY LIST” as per the discretion of Risk Management Committee without any prior
                            intimation.</li>
                        <li>Globe reserves the right to transfer any of the trades done in the normal market in the “MTF
                            APPROVED CATEGORY LIST” to MTF trades at its discretion.</li>
                        <li>The client shall maintain the following initial margin, in order to avail margin trading:
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="table-light">
                                        <tr>
                                            <th>Category of Stock</th>
                                            <th>Applicable margin</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Group I stocks available for trading in the F & O Segment</td>
                                            <td>VaR + 3 times of applicable ELM*</td>
                                        </tr>
                                        <tr>
                                            <td>Group I stocks other than F&O stocks</td>
                                            <td>VaR + 5 times of applicable ELM*</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            *For aforesaid purpose, the applicable VaR and ELM shall be as per Capital Market segment
                            for a particular stock. Based on the risk assessment, GCML shall have the discretion to
                            impose/collect higher margin than the margin specified above without any prior intimation to
                            the client.
                        </li>
                        <li>The Client shall maintain the Maintenance Margin with the member at all the times.</li>
                        <li>The client may pay Initial Margin in the form of cash, cash equivalent, or “Group I” Equity
                            securities with appropriate hair cut as specified in SEBI Master Circular No.
                            SEBI/HO/MRD/DP/CIR/P/2016/135. Where the margin is made available by way of securities, the
                            stock broker is empowered to decline its acceptance of any securities as margin and/or to
                            accept it at such reduced value as the stock broker may deem fit by applying haircuts or by
                            valuing it by marking it to market or by any other method as the stock broker may deem fit
                            in its absolute discretion.</li>
                        <li>Applicable Margin on the securities purchased i.e. “Funded Securities” under MTF shall be
                            computed by grossing applicable margin i.e. minimum initial margin plus maintenance margin,
                            if any, on each security and accordingly shortage shall be computed by deducting available
                            margin from gross margin. Collateral shares and Funded Shares shall be marked to market
                            daily for the purpose of computing the margin/shortage of margin.</li>
                    </ul>
                    <div class="header">ELIGIBLE SECURITIES & MARGIN</div>
                    <ul class="page-list">
                        <li>Any communication between GCML and the client shall be made in any one or more of the
                            following ways:
                            <ul class="page-list">
                                <li>Telephonic Calls</li>
                                <li>Sending by SMS</li>
                                <li>Any other electronic mode including Email, fax etc.</li>
                                <li>Sending by registered post/ under certificate of posting</li>
                                <li>Sending by express delivery post / courier services.</li>
                                <li>Sending by Telegram</li>
                                <li>Sending by Hand Delivery</li>
                                <li>Affixing on the door at the last known business or residential address</li>
                                <li>Advertising it at least once in any prominent Daily Newspaper</li>
                                <li>Sending a message through the Trading System.</li>
                            </ul>
                        </li>
                        <li>Any communication done with the client through any of the aforesaid means shall be deemed to
                            have been received by the client.</li>
                    </ul>
                </div>
                <div class="modal-page-list">
                    <div class="header">RIGHTS OF THE CLIENT</div>
                    <ul class="page-list">
                        <li>Client may take the delivery of the securities at any time by repaying the amount that was
                            paid by the Stock Broker to the Exchange towards securities after paying all dues.</li>
                        <li>Client may change the composition of securities provided as collateral with other approved
                            securities provided that the same is sufficient to meet the margin obligations.</li>

                    </ul>
                </div>
                <div class="modal-page-list">
                    <div class="header">OBLIGATIONS OF THE CLIENT</div>
                    <ul class="page-list">
                        <li>15. If the Client is intimated about the Margin shortage through any of the mutually agreed
                            mode of communication, then the client shall make good such deficiency in the amount of
                            margin placed with GCML in the below mentioned defined time.
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class="table-light">
                                        <tr>
                                            <th>Intimation of Margin Call</th>
                                            <th>Time limit to clear the margin deficiency</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Margin call made before 9.00 AM</td>
                                            <td>Shortage to be cleared before 1.30 PM on the same day</td>
                                        </tr>
                                        <tr>
                                            <td>Margin call made after 9.00 AM</td>
                                            <td>Shortage to be cleared till End of Day</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </li>
                        <li>If client fails to clear the shortage, GCML reserves the right to liquidate the securities
                            without any further notice to client. If the instrument i.e, cheque / pay order / DIS
                            (delivery instruction slip) deposited by client is not credited within 2 trading days it is
                            assumed that client has not made its obligation and GCML reserves the right to liquidate the
                            securities without any further notice to the client.</li>
                        <li>Notwithstanding anything contains herein, if at any point of time if there is margin deficit
                            of more than 50%, GCML reserves the right to liquidate the securities without any prior
                            notice to the client.</li>
                        <li>In case of lower circuit in any security, GCML has the discretion to calculate the shortage
                            of client at less than closing price including exclusion of the same security from client‟s
                            margin and can demand the full shortage amount accordingly.</li>
                        <li>Client, desirous to purchase security other than as specified under “MTF APPROVED CATEGORY
                            LIST” and not specifically banned by GCML, shall be carried out as Normal Trading (Other
                            than MTF) and subject to applicable margin.</li>
                        <li>If any security is excluded from “MTF APPROVED CATEGORY LIST”, Client shall be under
                            obligation to pay the full consideration value for such security on intimation of the same
                            within the specified time, failing which GCML shall have the right to sell such security
                            without further notice to the Client. Any and all losses and financial charges on account of
                            such liquidations shall be charged to & born by the client.</li>
                        <li>By agreeing to avail of MTF, the client authorises GCML to retain and/or pledge or create
                            any charge on the funded shares and collateral shares provided as margin.</li>

                    </ul>
                </div>
                <div class="modal-page-list">
                    <div class="header">RIGHTS OF THE MEMBER</div>
                    <ul class="page-list">
                        <li>GCML, at its own discretion, may allow client to buy further shares under MTF on the basis
                            of increase in the value of collateral shares, subject to applicable hair cut. However,
                            purchase shall not be permitted on the basis of increase in the market value of funded
                            shares.</li>
                        <li>GCML shall have the right to restrict the maximum gross exposure as well as individual
                            stock-wise exposure of a client under the MTF at any point of time without giving any reason
                            to the client. The client is not entitled to seek exposure beyond the limit as specified by
                            GCML by furnishing applicable margin.</li>
                        <li>GCML has the right to retain and/or pledge or create any charge on the funded shares and
                            collateral shares provided as margin.</li>
                        <li>GCML shall have the right to liquidate the securities if the client fails to meet the margin
                            call as per the agreed terms.</li>

                    </ul>
                </div>
                <div class="modal-page-list">
                    <div class="header">OBLIGATIONS OF THE MEMBER</div>
                    <ul class="page-list">
                        <li>GCML shall not use the funds and securities of one client to provide MTF to another client,
                            even on the authority of the client.</li>
                        <li>The stocks deposited as collateral for availing margin trading facility (Collaterals) and
                            the stock purchased under the margin trading facility (Funded Stock) shall be identifiable
                            separately and no comingling shall be permitted for the purpose of computing funding amount.
                        </li>
                        <li>Daily Margin Statement sent to the MTF clients shall identify margin/collateral for MTF
                            transaction separately. </li>
                    </ul>
                </div>
                <div class="modal-page-list">
                    <div class="header">CHARGES</div>
                    <ul class="page-list">
                        <li>Brokerage, Statutory Charges and Other Charges will be charged as mutually agreed between
                            the parties within the prescribed limits as specified by SEBI.</li>
                        <li>All outstanding dues under MTF shall carry Interest @ 0.07% per day unless mutually agreed
                            otherwise.</li>
                    </ul>
                </div>
                <div class="modal-page-list">
                    <div class="header">SETTLEMENT OF ACCOUNT</div>
                    <ul class="page-list">
                        <li>Margin Trading Accounts where there was no transaction for 90 days shall be settled
                            immediately provided there are no dues outstanding in the MTF account. Debit balance, if
                            any, in the normal trading account shall be first adjusted against the MTF account and the
                            remaining amount shall be paid to the Client.</li>
                        <li>Client‟s balances in any other segment / exchange can be adjusted / recovered against due in
                            MTF account. </li>
                    </ul>
                </div>
                <div class="modal-page-list">
                    <div class="header">DISPUTE RESOLUTION</div>
                    <ul class="page-list">
                        <li>Client shall lodge protest or disagreement with any transaction done under the margin
                            trading facility latest by 5:00 PM of the next day of the trades executed.</li>
                        <li>The Client shall first approach GCML to redress his/her grievance, if the client is not
                            satisfied with the redressal/response provided by GCML, then he/she may approach the
                            Exchange to redress the same.</li>
                        <li>Any disputes arising between the client and GCML in connection with the margin trading
                            facility shall be resolved through the investor grievance redressal mechanism and/or
                            arbitration mechanism of the stock exchanges as in the case of normal trades.</li>
                    </ul>
                </div>
                <div class="modal-page-list">
                    <div class="header">TERMINATION OF RELATIONSHIP</div>
                    <ul class="page-list">
                        <li>The margin trading arrangement between the stock broker and the client shall be terminated;
                            if the Stock Exchange, for any reason, withdraws the margin trading facility provided to the
                            Stock Broker or the Stock Broker surrenders the facility or the Stock Broker ceases to be a
                            member of the stock exchange.</li>
                        <li>GCML reserves the right to withdraw MTF provided to any Client without giving any reason
                            after giving a 30 days‟ notice to the Client. The dues, if any, in the account of the client
                            shall become payable after the notice period. Failing which GCML shall have the liberty to
                            sell such security without further notice to the Client. Any and all losses and financial
                            charges on account of such liquidations shall be charged to & born by the client.</li>
                        <li>Client may terminate the MTF account after paying all dues in the MTF account. The client
                            shall settle the dues of GCML. GCML shall be entitled to immediately adjust the Margin
                            Amount against the dues of the client, and the client hereby authorizes GCML to make such
                            adjustment.</li>
                        <li>If a client is debarred by order of lawful authority from dealing in the securities market,
                            GCML shall have the liberty to liquidate Collateral Stock and Funded Stock of the client to
                            recover its dues to the full extent forthwith. Any and all losses and financial charges on
                            account of such liquidations shall be charged to & born by the client.</li>
                        <li>In case of death of a client, GCML shall be entitled to liquidate the Collateral Stock and
                            Funded Stock under MTF and recover the outstanding dues, if any. Any and all losses and
                            financial charges on account of such liquidations shall be charged to the client.</li>

                    </ul>
                </div>
                <div class="modal-page-list">
                    <div class="header text-uppercase">Other</div>
                    <ul class="page-list">
                        <li>We wish to inform you that, Globe is now offering Margin Trading Facility (MTF) to its
                            customer as per the new SEBI guidelines.</li>
                        <li>Margin Trading Facility is allowed for Group I securities upon maintenance of minimum margin
                            as prescribed under new SEBI guidelines.</li>
                        <li>MTF is available for selected “Group I Securities” as classified by SEBI. Equity shares
                            shortlisted for funding shall be displayed on www.travel-india-tour.in from time to time.
                        </li>
                        <li>Basis the new Margin Trading Facility, you can now avail upto 4 times leverage on your
                            portfolio and pay as low as 22.5% margin while buying stocks. This facility also enable
                            customer to Carry forward funded positions for unlimited days.</li>
                        <li>"Rights and Obligations" as prescribed by Exchanges and "Policies & Procedures" as
                            applicable to Margin Trading Facility is attached herewith. You are requested to read
                            carefully and take the informed decision.</li>
                        <li>In order to avail the Margin Trading Facility, Click on “I Agree to avail MTF facility” and
                            verify OTP. By clicking on the below tab it shall be construed that you have read and
                            understood the attached "Rights and Obligations" and "Policies & Procedures".</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>