<div class="siteNavbar" id="section-navbar">
    <nav class="navbar navbar-expand-lg bg-dark fixed-top dark" data-bs-theme="dark">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand is-img">
                <img src="images/logo.svg" alt="logo" title="logo" loading="lazy" class="" />
            </a>
            <a class="offcanvas-bars navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar">
                <img class="svg icon-menu-back" src="images/menu.svg" />
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <div class="section-navbar-inner justify-content-end">
                    <ul class="navbar-nav flex-nowrap navbar-menu-list">
                        <li class="nav-item"><a class="nav-link" href="why-business-clue.html">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="our-insights.html">About Me</a></li>
                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Case Study</a>
                            <ul class="submenu dropdown-menu">
                                <li><a class="dropdown-item" href="care-connect-pro.html">Care Connect Pro</a></li>
                                <li><a class="dropdown-item" href="Leading Insight.html">Leading Insight</a></li>
                                <li><a class="dropdown-item" href="whistle-clean-australia.html">Whistle Clean Australia</a></li>
                            </ul>
                        </li>
                        <li class="nav-item navbar-btn"><a class="nav-link btn-link btn-primary" href="login.html">Get In Touch</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>

<%- include('mobile-menu.ejs') %>
