<div class="siteNavbar" id="section-navbar">
  <nav class="navbar navbar-expand-lg navbar-light fixed-top sitechanged">
      <div class="offcanvas-menus d-flex align-items-center light">
          <a class="offcanvas-bars bars light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
              aria-controls="offcanvasNavbar">
              <img class="svg icon-menu-back" src="images/menu.svg" />
          </a>
      </div>
      <div class="container d-flex justify-content-between">
          <a href="/" class="navbar-brand is-img light">
              <img alt="logo" title="logo" loading="lazy" src="images/logo.svg" class="svg" />
          </a>
          <div class="navbar-right mobile-show"> 
              <!-- <a href="join-us.html" class="btn bold nav-btn mobile-none light join">Join us</a> -->
              <a href="your-invite.html" class="btn btn-borderd-primary bold nav-btn light invite">Get your Invite</a>
          </div>
      </div>
  </nav>
</div>

<%- include('mobile-menu.ejs') %>
