<div class="offcanvas offcanvas-start offcanvas-sidebar" data-bs-scroll="true" tabindex="-1" id="offcanvasNavbar"
  aria-labelledby="offcanvasNavbarLabel">
  <div class="offcanvas-header with-bg bg-blue-light align-items-center">
    <a href="index.html" class="navbar-brand is-img">
      <img class="icon-menu-back svg" alt="logo" title="logo" loading="lazy" src="images/logo.svg" />
    </a>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav justify-content-end flex-grow-1 mobile-menu-list">
      <li><a class="card-offcanvas-menu" href="/">Home</a></li>
      <li><a class="card-offcanvas-menu" href="why-business-clue.html">Why travel-india-tour?</a></li>
      <li><a class="card-offcanvas-menu" href="our-insights.html">Our Insights</a></li>
      <li><a class="card-offcanvas-menu" href="our-products.html">Our Products</a></li>
      <!-- <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Our Products</a>
        <ul class="submenu dropdown-menu">
            <% for (var i=1; i <=4; i++ ) { %>
            <li><a class="dropdown-item" href=".html">Product <%= i %></a></li>
            <% } %>
        </ul>
    </li> -->
      <li><a class="card-offcanvas-menu" href="install-plugin.html">Install Plugin</a></li>
      <li><a class="card-offcanvas-menu" href="pricing.html">Pricing</a></li>
      <li><a class="card-offcanvas-menu" href="free-sign-up.html">FREE Sipn Up</a></li>
      <li><a class="card-offcanvas-menu" href="login.html">Login</a></li>
    </ul>
  </div>
</div>