<section class="section-why-us">
  <div class="card-why-us">
    <div class="container">
      <div class="card-why-us-artical d-flex ">
        <div class="card-why-us-artical-inner">
          <div class="heading h1">Why <span class="text text-orange">travel-india-tour</span></div>
          <div class="content">
            <p>travel-india-tour is a data and analytics company that collaborates with businesses/institutions to
              tackle
              their most prominent challenges and capture their greatest opportunities.</p>
          </div>
          <div class="content">
            <p>We aim at becoming Nation's First Business Intelligence Unit with our Sales Intelligence tools
              curated exclusively for organisations to build success and achieve exponential growth through ethical
              and intelligent use of data . Create instant business connections and leverage intent data to engage
              decision makers which empowers functional teams (sales, marketing, operations, recruiting, finance
              ) to achieve their goals.</p>
            <p>Our Vision is to create a community of leaders which serves as a platform for all visionary
              entrepreneurs.</p>
          </div>
        </div>
      </div>
    </div>
    <!--  -->

    <div class="mt-5">&nbsp;</div>
    <!--  -->
    <div class="card-why-us-with-offerings ">
      <div class="container">
        <div class="large">Our offerings</div>
        <div class="row align-items-center justify-content-between">
          <div class="col-sm-6">
            <div class="card-why-us-offerings aos-init aos-animate" data-aos="fade-in">
              <div class="heading-icon h4 ">Corporate search</div>
              <div class="content ">Details of active corporates with various filters such as industry wise, size wise
                to better customise your searches and additional details (contact, email ) to enhance customer
                acquisition.</div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card-why-us-offerings aos-init aos-animate" data-aos="fade-in">
              <div class="heading-icon h4 ">Industry Experts</div>
              <div class="content ">Handcrafted details of executives/industry leaders for collaboration, sponsorships,
                consultation, brand marketing/ambassador, event campaigns, fund-raising
                , advertisements.</div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card-why-us-offerings aos-init aos-animate" data-aos="fade-in">
              <div class="heading-icon h4 ">Personalised Outreach</div>
              <div class="content ">Collaborate with
                travel-india-tour team to reach out / setup meetings with
                the decision makers / industry experts as per the details
                provided in requests form available in profile page.</div>

            </div>
          </div>
          <div class="col-sm-6">
            <div class="card-why-us-offerings aos-init aos-animate" data-aos="fade-in">
              <div class="heading-icon h4 ">Extension (Plug-in )</div>
              <div class="content ">Download and Install
                travel-india-tour extension and add it to your Chrome
                browser to search faster. Open Extension on LinkedIn
                site to instantly access your lead connection details and
                corporates information instantly.</div>

            </div>
          </div>

        </div>
      </div>
    </div>
    <!--  -->
  </div>
</section>