<section class="section-networking section-base scroll-section" data-section-name="networking">
  <div class="card-networking card-base d-flex align-items-center">
    <div class="container">
      <div class="row justify-content-center align-items-center flex-row-reverse">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
          <div class="page-bg section-bg" data-aos="fade">
            <img class="svg banner-svg rounded-5" src="images/travel-india-tour-about.jpeg" title="" loading="lazy"
              alt="" />
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-1 d-none d-sm-block"></div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
          <div class="card-base-content">
            <h2 class="heading text-uppercase" data-aos="fade-in" data-aos-easing="ease-in" data-aos-delay="100">
              Biography</h2>
            <div class="card-content" data-aos="fade-in" data-aos-easing="ease-in" data-aos-delay="100">
              <p>Hi, I'm Sweety, a UX/UI designer from Sydney, Australia. I love creating digital experiences that make
                a difference in people's lives. My approach is all about human-centered design, focusing on what users
                need and how to make their experience better.</p>
              <p>I've worked in customer service, retail, and hospitality, which has given me a strong understanding of
                what makes a great user experience. I bring this customer-focused mindset to all my design projects,
                ensuring that the solutions I create are not only functional but also enjoyable to use.</p>
              <p>I'm always excited to learn new things and try out fresh ideas. My goal is to design experiences that
                are both seamless and delightful, making everyday interactions a little bit easier and more pleasant for
                everyone.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>