<section class="section-intelligent-sales section-base scroll-section" data-section-name="intelligent-sales">
  <div class="section-circle">
    <img class="svg banner-svg" src="images/page-circle.svg" title="" loading="lazy" alt="" />
  </div>
  <div class="card-intelligent-sales card-base d-flex align-items-center">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-3">
          <div class="page-bg section-bg" data-aos="fade">
            <img class="svg banner-svg" src="images/case-study.png" title="" loading="lazy" alt="" />
          </div> a
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-1 d-none d-sm-block"></div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-5">
          <div class="card-base-content">
            <h2 class="heading" data-aos="fade-in" data-aos-easing="ease-in" data-aos-delay="100">Care Connect PRO</h2>
            <div class="card-content" data-aos="fade-in" data-aos-easing="ease-in" data-aos-delay="100">
              <p>A mobile app revolutionizing elderly care with personalized management, promoting independence and
                well-being.</p>
            </div>
          </div>
          <div class="card-base-link"><a href="" class="btn btn-primary rounded-5">View case study</a></div>
        </div>
      </div>
    </div>
  </div>
</section>