<div class="terms-content">
  <ol class="ol-text">

    <li>
      <h5>What this Privacy Policy Covers</h5>
      <p>Protecting your privacy is really important to us. Accordingly, we are providing this Privacy Policy to explain
        our practices regarding the collection, use and disclosure of information that we receive when you use our
        website(s) located at www.travel-india-tour.in This Privacy Policy does not apply to any third-party websites,
        services or applications, even if they are accessible through our Services. Also, please note that, unless we
        define a term in this Privacy Policy, all capitalized words used in this Privacy Policy have the same meanings
        as in our Terms of Service.</p>

    </li>
    <li>
      <h5>Information We Gather</h5>
      <p>Our primary goal in collecting information is to provide Services and improve them, to administer your use of
        the Services (including your Account, if you are an Account holder), and to enable you to enjoy and easily
        navigate our Services.</p>
      <p>We collect information relating to an identified or identifiable natural person including common identifiers
        such as a name, an identification number, location data, an online identifier or one or more factors specific to
        the physical, physiological, genetic, mental, economic, cultural or social identity of that natural person and
        any other information that is so categorized by applicable laws. We collect information about you and/or your
        usage to provide better services and offerings. The Personal Information that we collect, and how we collect it,
        depends upon how you interact with us. We collect the following categories of Personal Information in the
        following ways:</p>
      <p>name, email address, password, country, city, contact number and company/organization that you are associated
        with, when you sign up, information that one would usually include in a resume, including name, contact details
        including e-mail address and mobile number, work experience, educational qualifications, data relating to your
        current and past remuneration or salary, a copy of your resume, etc. when you register on the Platform.
        information about the services that you use and how you use them, including log information and location
        information, when you are a user of the services through the Platform; we may collect your Personal Information
        such as name, age, contact details, preferences, etc. through surveys and forms, when you choose to participate
        in these surveys etc.;</p>
      <p>when you communicate with charmingyatra or use the Platform to communicate with other Users (such as partners),
        we collect information about your communication and any information you choose to provide; when you visit the
        Platform, we use cookies to automatically collect, store and use technical information about your system and
        interaction with our Platform;</p>
      <p>when you use a device to access the Platform, charmingyatra may collect technical or other related information
        from the device as well as the device location;</p>
      <p>To the extent permitted by law, charmingyatra may record and monitor your communications with us to ensure
        compliance with our legal and regulatory obligations and our internal policies. This may include the recording
        of telephone conversations;</p>
    </li>
    <li>
      <h5>How do we use your Information?</h5>
      <p>We will only use your personal data in a fair and reasonable manner, our use of your personal data depends on
        the purpose for which you interact with us. We may process your Personal Information for the following purposes:
        Providing our services and products to you including to send you job alerts, calendar alerts, recommended jobs,
        and other social media communication facilities.
        Protecting our Users and providing you with customer support.
        We use information collected from cookies and other technologies, to improve your user experience and the
        overall quality of our services. When showing you tailored ads, we will not associate an identifier from cookies
        or similar technologies with sensitive categories, such as those based on race, religion, sexual orientation or
        health.
        Improving the Platform and its content to provide better features and services.
        Sending you information about our products and services for marketing purposes and promotions;</p>
    </li>
    <li>
      <h5>Visitor Information</h5>
      <p>
        If you join our waitlist for future features or for receiving updates from our Services, we’ll collect your PII,
        such as your name and email address. We may use your PII to contact you by email any time we release a new
        feature or updates. You have the right to opt out of the same.
      </p>
    </li>
    <li>
      <h5>Cookies</h5>
      <p>
        For the purposes of the Services, we use automated data collection tools such as Cookies and Web Beacons to
        collect certain information. “Cookies” are small text files that are placed, with your consent, on your hard
        drive by a Web server when you access our Services. With your consent, we may use both session Cookies and
        persistent Cookies to identify that you have logged in to the Services and to tell us how and when you interact
        with our Services. With your consent, we may also use Cookies to monitor aggregate usage and web traffic routing
        on our Services and to customize and improve our Services. Unlike persistent Cookies, session Cookies are
        deleted when you log off from the Services and close your browser. Although most browsers automatically accept
        Cookies, you can change your browser options to stop automatically accepting Cookies or to prompt you before
        accepting Cookies. Please note, however, that if you don’t accept Cookies, you may not be able to access all
        portions or features of the Services. Note that this Privacy Policy covers only our use of Cookies and does not
        include use of Cookies by any third parties.
      </p>
    </li>
    <li>
      <h5>Web Beacons</h5>
      <p>
        “Web Beacons” (also known as clear gifs) are tiny graphics with a unique identifier that may be included on our
        Services for several purposes, including to deliver or communicate with Cookies, to track and measure the
        performance of our Services, to monitor how many visitors view our Services. Unlike Cookies, which are stored on
        the user’s hard drive, Web Beacons are typically embedded invisibly on web pages (or in an e-mail).
      </p>
    </li>
    <li>
      <h5>Information Related to Use of the Services</h5>
      <p>
        Our servers automatically record certain information about how a person uses our Services (we refer to this
        information as “Log Data”), including both Account holders and non-Account holders (either, a “User”). Log Data
        may include information such as a User’s Internet Protocol (IP) address, browser type, operating system, the
        pages or features of our Services to which a User browsed and the time spent on those pages or features,
        frequency with which of our Services are used by a User, search terms, the links on our Services that a User
        clicked on, the ads that User clicked on and other statistics. We use this information to administer the
        Services and we analyze (and may engage third parties to analyze) this information to improve and enhance the
        Services by expanding their features and functionality and tailoring them to our Users’ needs and preferences.
        We also use the IP Address to generate aggregate, non-identifying information about how our Services are used.
      </p>
      <p>Please note that during this, at no point of time do we collect and/or share PII collected with any third
        parties apart from the data processor(s).
      </p>
    </li>
    <li>
      <h5>Information Shared with Third Parties</h5>
      <p>With your prior written consent, your PII is shared via the Services as described below:</p>
      <p>Information Shared with other Account Holders. As part of our Services, Account holders may communicate with
        other Account holders through the use of our direct messaging functionality or via forums and when this happens
        those other Account holders will be able to see certain information about you, such as your name or photo – this
        will depend on how your privacy settings are selected via the Services. In addition, the content of your
        communications will be visible and available to those other Account holders, including Content you share or
        upload when using the Services</p>
    </li>
    <li>
      <h5>Information Shared with Our Service Providers</h5>
      <p>We may engage third party service providers to work with us to administer and provide the Services. These
        third-party services providers have access to your PII only for the purpose of performing services on our
        behalf.</p>
      <p>Information Shared with Third Parties. We may share aggregated information and non-identifying information with
        third parties for industry research and analysis, demographic profiling and other similar purposes.</p>
    </li>
    <li>
      <h5>Information Disclosed in Connection with Business Transactions</h5>
      <p>
        Information that we collect from our users, including PII, is considered to be a business asset. As a result, if
        we go out of business or enter bankruptcy or if we are acquired as a result of a transaction such as a merger,
        acquisition or asset sale, your PII may be disclosed or transferred to the third-party acquirer in connection
        with the transaction. Any such disclosure shall be in accordance with any and all legal requirements applicable.
      </p>
    </li>
    <li>
      <h5>Information Disclosed for Our Protection and the Protection of Others</h5>
      <p>
        We cooperate with government and law enforcement officials or private parties to enforce and comply with the
        law. We may disclose any information about you to government or law enforcement officials or private parties as
        we, in our sole discretion, believe necessary or appropriate: (i) to respond to claims, legal process (including
        subpoenas); (ii) to protect our property, rights and safety and the property, rights and safety of a third party
        or the public in general; and (iii) to stop any activity that we consider illegal, unethical or legally
        actionable activity.
      </p>
    </li>
    <li>
      <h5>Information We Disclose With Your Consent or at Your Request</h5>
      <p>
        We will share your PII with third-party sites or platforms, such as social networking sites, if you have
        expressly requested that we do so.
      </p>
    </li>
    <li>
      <h5>Invite a Friend</h5>
      <p>
        Through the Services, Account holders can also invite non-Account holders to try the Services by a specific
        functionality of the Services. When an Account holder invites someone to try the Services, an SMS or automated
        email will be sent to the invitee indicating that a particular Account holder has invited such invitee to try
        the Services and this SMS or email will include a link to the appropriate app store or distribution platform
        where the App is made available.
      </p>
    </li>
    <li>
      <h5>The Security of Your Information</h5>
      <p>
        We take reasonable measures to protect the information that we collect from or about you (including your PII)
        from unauthorized access, use or disclosure by encrypting all data while stored and in transit via our Services,
        including User’s information, messages and any Content attached to the messages. Please be aware, however, that
        no method of transmitting information over the Internet or storing information is completely secure.
        Accordingly, we cannot guarantee the absolute security of any information.
      </p>
    </li>
    <li>
      <h5>Our Policy Towards Children</h5>
      <p>
      <p>Our Services are not directed to children under 13 and we do not knowingly collect PII from children under 13.
        If we learn that we have collected PII of a child under 13 we will take steps to delete such information from
        our files as soon as possible.</p>
      </p>
    </li>
    <li>
      <h5>Changes to Privacy Policy</h5>
      <p>
      <p>Any information that we collect is subject to the privacy policy in effect at the time that Information is
        collected. We may, however, modify and revise this Privacy Policy from time to time. If we make any material
        changes to this Privacy Policy, we’ll notify you of those changes by posting them on the Services or by sending
        you an email or other notification at our sole discretion and we’ll indicate when those changes will become
        effective.</p>
      </p>
    </li>
  </ol>
</div>
<div class="terms-text">
  <!-- <h5 class="header">Now that we have received your input, our consultant will review your profile and get back to you in 4-5 business days.</h5> -->
  <p class="header">Cookie Policy</p>
</div>

<h6>Introduction</h6>
<p>This Cookie Policy ("Policy") explains that we believe in being open and clear about how we use your information. In
  the spirit of transparency, this Policy provides detailed information about how and when we use cookies on our
  websites. This cookie policy applies to any charmingyatra product or service that links to this policy or incorporates
  it by reference.</p>
<p>We uses cookies, tags and other technologies when you use any of the our websites and mobile sites . Cookies are used
  to ensure everyone has their best possible experience. Cookies also help us keep your account safe. By continuing to
  visit or use our services, you are agreeing to the use of cookies and similar technologies for the purposes we
  describe in this policy. If you prefer not to receive cookies or web beacons, then you should stop using our site, or
  consult your browsing and third party cookie settings as described below.
</p>
<div class="terms-content">
  <ol class="ol-num">

    <li>
      <h5>What is a cookie?</h5>
      <p>
        Cookies are small pieces of text stored by a website you visit in your browser and subsequently sent by your web
        browser in every request to the website. A cookie file is stored in your web browser and allows the Site or a
        third-party to recognize you and make your next visit easier and the Site more useful to you. Essentially,
        cookies are a user’s identification card for our servers. Cookies allow us to serve you better and more
        efficiently, and to personalize your experience on our site. Web beacons, tags and scripts may be used in the
        Websites or in emails to help us to deliver cookies, count visits, understand usage and campaign effectiveness
        and determine whether an email has been opened and acted upon. We may analyse or perform analysis based on the
        use of these technologies and generate reports on an individual and aggregated basis.
      </p>
    </li>
    <li>
      <h5>What are cookies used for?</h5>
      <p>
        When you visit our websites, we may place a number of cookies in your browser. These are known as First Party
        Cookies and are required to enable to hold session information as you navigate from page to page within the
        website. For example, we use cookies on our websites to understand visitor and user preferences, improve their
        experience, and track and analyse usage, navigational and other statistical information. Additionally, cookies
        allow us to bring you advertising both on and off our site, and bring customized features to you. You can
        control the use of cookies at the individual browser level. If you elect not to activate the cookie or to later
        disable cookies, you may still visit our websites, but your ability to use some features or areas of the
        Websites may be limited. We may use any of the following categories of cookies on the Websites as detailed
        below. Each cookie falls within one of the four following categories:
      </p>
    </li>
    <li>
      <h5>When does Naukri.com place cookies?</h5>
      <p>
        We use cookies on our websites and mobile sites. Any browser visiting these sites will receive cookies from us
        which helps us identify you more quickly when you return. Cookies help us to determine which pages or
        information you find most useful or interesting on our own websites.
        We may also have some cookies for our own analytics i.e. analytics not part of Google Analytics. Such cookies
        help generate statistics and reports about visitors and their activities on the website or app.
      </p>
    </li>
    <li>
      <h5>How cookies are used for online analytics purposes?</h5>
      <p>
        We may use web analytics services such as those of Google Analytics. These services help us analyse how users
        use the services, including by noting the third-party website from which you arrive. The information collected
        by the technology will be disclosed to or collected directly by such service providers, who use the information
        to evaluate your use of the services. We also use Google Analytics for certain purposes related to online
        marketing, as described in the following sections.
      </p>
    </li>
    <li>
      <h5>How are cookies used for advertising purposes?</h5>

      <p>Cookies and other ad technology such as beacons, pixels, and tags help us serve relevant ads to you more
        effectively. They also help us provide aggregated auditing, research, and reporting for advertisers, understand
        and improve our service, and know when content has been shown to you. We work with website analytics and
        advertising partners, including Google Display Network, Facebook, etc. to deliver us advertisements on third
        party publisher websites - these partners may set cookies on your computer's web browser. These cookies allow
        our partners to recognize your computer so that the ad server can show you our advertisements elsewhere on the
        Internet, and so that our analytics software can measure your engagement and interactions while using our
        services. In this way, ad servers may compile anonymous, de-identified information about where you, or others
        who are using your computer, saw our advertisements, whether or not you interacted with our advertisements, and
        actions performed on subsequent visits to our websites and applications. This information allows an ad network
        to deliver targeted advertisements that they believe will be of most interest to you, and it allows
        travel-india-tour.in to optimize the performance of our advertising campaigns and the usability of our website.
        In other words, we use analytics data in concert with data about our online ads that have been shown using the
        Google Display Network, Facebook for Advertisers, or other online advertising networks. By doing so, we can
        understand how anonymous users interacted with our website after seeing our ads.</p>
      <p>We suggest that you should check the respective privacy policies for these external services to help you
        understand what data these organisations hold about you and how they process it.</p>

      <p>Facebook: <a href="https://www.facebook.com/policy.php"
          rel="noopener noreferrer">https://www.facebook.com/policy.php</a> <br>
        AdSense: <a href="https://policies.google.com/technologies/ads"
          rel="noopener noreferrer">https://policies.google.com/technologies/ads</a><br>
        Google Analytics: <a href="https://www.google.com/analytics/learn/privacy.html"
          rel="noopener noreferrer">https://www.google.com/analytics/learn/privacy.html</a><br>
        Google Tag Manager: <a href="https://www.google.com/analytics/tag-manager/faq/"
          rel="noopener noreferrer">https://www.google.com/analytics/tag-manager/faq/</a><br>
        Google+: <a href="https://www.google.com/policies/privacy/"
          rel="noopener noreferrer">https://www.google.com/policies/privacy/</a><br>
        Twitter: <a href="https://twitter.com/en/privacy"
          rel="noopener noreferrer">https://twitter.com/en/privacy</a><br>
        Google Double click: <a href="https://support.google.com/dfp_premium/answer/2839090?hl=en"
          rel="noopener noreferrer">https://support.google.com/dfp_premium/answer/2839090?hl=en</a></p>

    </li>

    <li>
      <h5>How to control cookies?</h5>
      <p>Most browsers allow you to control cookies through their settings preferences. However, if you choose to turn
        off these cookies, you will still see advertising on the internet but it may not be tailored to your interests.
        It does not mean that you won't be served any advertisements whilst you are online. Whilst we have mentioned
        most of the third parties involved in using targeting or advertising cookies in the preceding section , the list
        is not exhaustive and is subject to change. Therefore, even if you choose to turn off all the third-party
        cookies listed in section , you may still receive some tailored advertisements and recommendations.</p>
      <p>There are a number of ways you can manage what cookies are set on your devices. Essential cookies, however,
        cannot be disabled. If you do not allow certain cookies to be installed, the website may not be accessible to
        you and/or the performance, features, or services of the website may be compromised.</p>
      <p>You can also manage this type of cookie in the privacy settings on the web browser you are using. Please note
        that if you use your browser settings to block all cookies you may not be able to access parts of our or others'
        websites. Please see below for more information.</p>
      <p>Changing your Cookie Settings: The browser settings for changing your cookies settings are usually found in the
        'options' or 'preferences' menu of your internet browser. In order to understand these settings, the following
        links may be helpful. Otherwise you should use the 'Help' option in your internet browser for more details.</p>
      <p>Cookie settings in Internet Explorer<br>
        Cookie settings in Firefox<br>
        Cookie settings in Chrome<br>
        Cookie settings in Safari</p>
    </li>
  </ol>
  <p class="mt-5"><b>More information:</b> To find out more about cookies, including how to see what cookies have been
    set and how to manage and delete them, visit www.allaboutcookies.org. You can learn more about opting out of
    receiving interest-based ads from other companies at optout.aboutads.info and www.networkadvertising.org/choices. In
    addition, certain third party advertising networks, like Facebook (pixels) and Google, permit users to opt out of or
    customize preferences associated with your internet browsing. To learn more about this feature from Google, click
    here. For further information about the Facebook Pixel, click here.</p>
</div>