<article class="card-get-free-quote-form">
  <form id="quote-form" action="" class="quote-form">
    <div class="form-content">
      <div class="form-group required">
        <input type="text" name="fullname" id="fullname" class="form-control pageRequired floating-label"
          placeholder="Full Name" required />
      </div>
      <div class="form-group required">
        <input type="text" name="phone" id="phone" class="form-control pageRequired floating-label"
          placeholder="Mobile No." required />
      </div>
      <div class="form-group required">
        <input type="email" name="email" id="email" class="form-control pageRequired floating-label"
          placeholder="E-mail Id" required />
      </div>
      <div class="form-group required">
        <textarea name="comment" id="" placeholder="Your Comment" class="form-control pageRequired floating-label"
          rows="3"></textarea>
      </div>
      <div class="get-started-link">
        <div class="journey-href">
          <!-- <button type="submit" data-bs-target="#success_popup" data-bs-toggle="modal" class="page-href get-invited-submit">
            <div class="text">Send Your Query</div> 
            <span class="link"><img alt="arrow-icon-next" title="arrow-icon-next" class="svg"
                src="images/arrow-icon-next.svg" alt="travelindiatours" /></span>
          </button> -->
          <button type="submit" class="page-href get-invited-submit">
            <div class="text">Send Your Query</div>
            <span class="link"><img alt="arrow-icon-next" title="arrow-icon-next" class="svg"
                src="images/arrow-icon-next.svg" alt="travelindiatours" /></span>
          </button>
        </div>
      </div>
    </div>
  </form>
</article>
