<section class="page-signup-card">
  <div class="container">
    <div class="signup-wrapper">
      <!-- step 1 -->
      <!-- add/remove class "in" to show/hide block -->
      <div class="signup-form mini-card">
        <div class="page-title">
          <h1 class="title">Sign up for a Globe Capital account</h1>
          <p>Join the investment journey over a million of our customers are on!</p>
          <!-- <div class="sub-title">Please enter your details</div> -->
        </div>

        <div class="block-steps">
          <div class="card-title">Request form</div>
          <div class="card-number"><span>1</span>/3</div>
        </div>

        <form action="dashboard.html">
          <div class="form-group">
            <input type="text" class="form-control floating-label" placeholder="Emp Code">
            <span class="error">Emp Code</span>
          </div>
          <div class="form-group">
            <input type="text" class="form-control floating-label" placeholder="Password">
            <span class="error">Password</span>
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-borderd-primary bold ">Submit</button>
          </div>
          <div class="form-password">
            <a class="view-password" data-bs-toggle="modal" data-bs-target="#forgotPassword">Forgot Password</a>
          </div>
        </form>
      </div>

    </div>

  </div>
</section>
