
  <div class="d-flex justify-content-center align-items-center">
    <div class="card-page-banner-input form-group m-0">
      <input type="email" value="" name="EMAIL" class="required email form-control form-control-lg"  placeholder="Enter your work email" required>
    </div> 
    <input type="submit" value="Get started" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-orange-dark btn-lg">
  </div> 

