<div class="card-search-panel-detail">
    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6"></div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <div type="text" class="form-control floating-text" id="asas" placeholder="CIN" datatext="U052200UP2024TTC197263"></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <div type="text" class="form-control floating-text" id="asas" placeholder="CIN" datatext="U052200UP2024TTC197263"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col col-xs-6">
                    <div class="form-group">
                        <div type="text" class="form-control floating-text" id="asas" placeholder="CIN" datatext="U052200UP2024TTC197263"></div>
                    </div>
                </div>
                <div class="col col-xs-6">
                    <div class="form-group">
                        <div type="text" class="form-control floating-text" id="asas" placeholder="CIN" datatext="U052200UP2024TTC197263"></div>
                    </div>
                </div>
                <div class="col col-xs-6">
                    <div class="form-group">
                        <div type="text" class="form-control floating-text" id="asas" placeholder="CIN" datatext="U052200UP2024TTC197263"></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-xs-6">
            <div class="form-group">
                <div type="text" class="form-control floating-text" id="asas" placeholder="CIN" datatext="U052200UP2024TTC197263"></div>
            </div>
        </div>
        <div class="col col-xs-6">
            <div class="form-group">
                <div type="text" class="form-control floating-text" id="asas" placeholder="CIN" datatext="U052200UP2024TTC197263"></div>
            </div>
        </div>
        <div class="col col-xs-6">
            <div class="form-group">
                <div type="text" class="form-control floating-text" id="asas" placeholder="CIN" datatext="U052200UP2024TTC197263"></div>
            </div>
        </div>
        <div class="col col-xs-6">
            <div class="form-group">
                <div type="text" class="form-control floating-text" id="asas" placeholder="CIN" datatext="U052200UP2024TTC197263"></div>
            </div>
        </div>
        <div class="col col-xs-6">
            <div class="form-group">
                <div type="text" class="form-control floating-text" id="asas" placeholder="CIN" datatext="U052200UP2024TTC197263"></div>
            </div>
        </div>
        <div class="col col-xs-6">
            <div class="form-group">
                <div type="text" class="form-control floating-text" id="asas" placeholder="CIN" datatext="U052200UP2024TTC197263"></div>
            </div>
        </div>
        <div class="col col-xs-6">
            <button class="btn btn-primary button btn-block" >Search</button>
        </div>
    </div>
</div>
