<section class="page-signup-card pages">
  <div class="container">
    <div class="signup-wrapper">
      <div class="signup-form">
        <div class="page-title">
          <h1 class="title">The journey to your ideal career destination could start here.</h1>
          <p>Our Satgeup team is excited to have you here, travel-india-tour.in is tailor made personalised job
            consulting services truly addressing your needs. Our consultants are highly qualified and professionally
            trained to service you.</p>
          <p>Please tell us a little about your professional experience and aspirations. It’s simple. We have provided a
            few questions for you to answer, then you can upload your CV, all within a few minutes. The information you
            share with us will be held completely confidential.</p>
        </div>

        <form action="one-time-password.html">
          <div class="d-grid gap-2">
            <button class="btn btn-borderd-primary bold ">Start Here ...</button>
          </div>
        </form>
        <p>Please note: We carefully review every CV submitted here. We will confirm upload of your information via
          email and add your data to our candidate database. Our search consultants will contact you if we require
          further information or should suitable opportunities arise.</p>
      </div>
    </div>
  </div>
</section>