<section class="page-newsletter section-newsletter d-flex align-items-center scroll-section" data-section-name="newsletter">  
  <div class="container">
    <div class="card-content"  data-aos="fade-in" data-aos-easing="ease-in-back" data-aos-delay="200">
      <form action="" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"  novalidate> 
        <div class="card-newsletter-content">
            <div class="card-newsletter-header text-center">
              <h3 class="heading text-uppercase"  data-aos="zoom-in">Get <span class="text-orange-dark bold"> in touch</span></h3>
              <p  data-aos="zoom-out">The latest insights on today's world of work straight to your inbox.</p>
            </div>
            <div class="asasas text-center"><div class="btn btn-primary btn-lg rounded-5">Get in touch</div></div>
        </div>
      </form>
    </div>
  </div>
</section>
