<section class="section-blog-detail page-blog page-section">
    <div class="container">
        
        <div class="card-blog">
            <div class="card-blog-artical-detail">
                <div class="card-blog-header-top">
                    <div class="title bold h2"><span class="text-dark" rel="noopener noreferrer">Lorem Ipsum is
                        simply dummy text</span>
                    </div>
                    <div class="side-link d-flex justify-content-start">
                        <span class="card-icons-list">
                        <div class="text">School info</div>
                        </span>
                        <span class="card-icons-list">
                        <div class="image-ico with-icons">
                            <div class="fa fa-circle icons"></div>
                        </div>
                        <div class="text">10hr ago</div>
                        </span>
                    </div>
                    </div>
                <div class="figure image-full"><img class="img-fluid round" src="images/about.jpeg" alt="..."></div>
               
                <div class="card-blog-content">
                <div class="description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, minus commodi magni ratione repellat ea saepe
                    voluptates, ex ut fuga nemo excepturi quos, dignissimos laboriosam? Repellendus illo voluptas placeat
                    recusandae!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, minus commodi magni ratione repellat ea saepe
                    voluptates, ex ut fuga nemo excepturi quos, dignissimos laboriosam? Repellendus illo voluptas placeat
                    recusandae!Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, minus commodi magni ratione repellat ea saepe
                    voluptates, ex ut fuga nemo excepturi quos, dignissimos laboriosam? Repellendus illo voluptas placeat
                    recusandae!Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, minus commodi magni ratione repellat ea saepe
                    voluptates, ex ut fuga nemo excepturi quos, dignissimos laboriosam? Repellendus illo voluptas placeat
                    recusandae!Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, minus commodi magni ratione repellat ea saepe
                    voluptates, ex ut fuga nemo excepturi quos, dignissimos laboriosam? Repellendus illo voluptas placeat
                    recusandae!Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, minus commodi magni ratione repellat ea saepe
                    voluptates, ex ut fuga nemo excepturi quos, dignissimos laboriosam? Repellendus illo voluptas placeat
                    recusandae!vLorem ipsum dolor sit amet consectetur adipisicing elit. Labore, minus commodi magni ratione repellat ea saepe
                    voluptates, ex ut fuga nemo excepturi quos, dignissimos laboriosam? Repellendus illo voluptas placeat
                    recusandae!
                </div>
                <blockquote>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quae ipsa quos perspiciatis? Laboriosam
                    repudiandae
                    animi, mollitia pariatur inventore, minima officia provident quidem saepe incidunt, assumenda libero veniam ut
                    ea!
                </blockquote>
                <div class="description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, minus commodi magni ratione repellat ea saepe
                    voluptates, ex ut fuga nemo excepturi quos, dignissimos laboriosam? Repellendus illo voluptas placeat
                    recusandae!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, minus commodi magni ratione repellat ea saepe
                    voluptates, ex ut fuga nemo excepturi quos, dignissimos laboriosam? Repellendus illo voluptas placeat
                    recusandae!Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, minus commodi magni ratione repellat ea saepe
                    voluptates, ex ut fuga nemo excepturi quos, dignissimos laboriosam? Repellendus illo voluptas placeat
                    recusandae!Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, minus commodi magni ratione repellat ea saepe
                    voluptates, ex ut fuga nemo excepturi quos, dignissimos laboriosam? Repellendus illo voluptas placeat
                    recusandae!Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, minus commodi magni ratione repellat ea saepe
                    voluptates, ex ut fuga nemo excepturi quos, dignissimos laboriosam? Repellendus illo voluptas placeat
                    recusandae!Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, minus commodi magni ratione repellat ea saepe
                    voluptates, ex ut fuga nemo excepturi quos, dignissimos laboriosam? Repellendus illo voluptas placeat
                    recusandae!vLorem ipsum dolor sit amet consectetur adipisicing elit. Labore, minus commodi magni ratione repellat ea saepe
                    voluptates, ex ut fuga nemo excepturi quos, dignissimos laboriosam? Repellendus illo voluptas placeat
                    recusandae!
                </div>
                <blockquote>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quae ipsa quos perspiciatis? Laboriosam
                    repudiandae
                    animi, mollitia pariatur inventore, minima officia provident quidem saepe incidunt, assumenda libero veniam ut
                    ea!
                </blockquote>
                <div class="description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, minus commodi magni ratione repellat ea saepe
                    voluptates, ex ut fuga nemo excepturi quos, dignissimos laboriosam? Repellendus illo voluptas placeat
                    recusandae!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, minus commodi magni ratione repellat ea saepe
                    voluptates, ex ut fuga nemo excepturi quos, dignissimos laboriosam? Repellendus illo voluptas placeat
                    recusandae!Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, minus commodi magni ratione repellat ea saepe
                    voluptates, ex ut fuga nemo excepturi quos, dignissimos laboriosam? Repellendus illo voluptas placeat
                    recusandae!Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, minus commodi magni ratione repellat ea saepe
                    voluptates, ex ut fuga nemo excepturi quos, dignissimos laboriosam? Repellendus illo voluptas placeat
                    recusandae!Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, minus commodi magni ratione repellat ea saepe
                    voluptates, ex ut fuga nemo excepturi quos, dignissimos laboriosam? Repellendus illo voluptas placeat
                    recusandae!Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, minus commodi magni ratione repellat ea saepe
                    voluptates, ex ut fuga nemo excepturi quos, dignissimos laboriosam? Repellendus illo voluptas placeat
                    recusandae!vLorem ipsum dolor sit amet consectetur adipisicing elit. Labore, minus commodi magni ratione repellat ea saepe
                    voluptates, ex ut fuga nemo excepturi quos, dignissimos laboriosam? Repellendus illo voluptas placeat
                    recusandae!
                </div>
                <blockquote>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis quae ipsa quos perspiciatis? Laboriosam
                    repudiandae
                    animi, mollitia pariatur inventore, minima officia provident quidem saepe incidunt, assumenda libero veniam ut
                    ea!
                </blockquote>
                </div>
            </div>
        </div>
    </div>
  
</section>
