<div class="terms-content">
<h6>CANCELLATION POLICY:</h6>
<ol class="ol-text">
<li>Before 30 Days of your travel date if you cancel your trip there is no cancellation charge are there , only some amount of service charge will be deduct & rest of all amount will be refund in your account.</li>
<li>Before 29 to 15 days of your travel date if you cancel your trip then 25 % of amount charge applicable as per cancellation policy.</li>
<li>Before 14 to 10 Days of your travel date if you cancel your trip then 50 % of amount charge applicable as per cancellation policy.</li>
<li>Before 09 to 07 Days of your travel date if you cancel your trip then 75 % of amount charge applicable as per cancellation policy.</li>
<li>Less than 7 days of your travel date if you cancel your trip then 100% amount charge applicable as per cancellation policy. (There is no refund)</li>
</ol>

<h4 class="mb-3">PEAK SEASON BOOKINGS ARE NON REFUNDABLE</h4>
<h6 class="mt-5">IN CASE :</h6>
<p>If you travel any hill station , if there is any natural calamity or heavy snow fall use faced & if your trip is cancel , in that case , there is no refund policy will be applicable.</p>

<h6 class="mt-5">RESERVATION :</h6>
<ol class="ol-text">
<li>Upon receiving your booking request, one of Charming yatra experienced travel consultants will start to assist you in building a pleasant travel plan according to your special requirements and interests within 24 hours.
<li>Upon the receipt of a deposit from you, we'll secure your reservation and process your final booking immediately. Deposit is usually 30% of the total touring price, while the percentage could be subject to group size and itinerary; your travel consultant will adjust it accordingly.
<li>It is highly recommended to have your reservation made 60 days prior to your departure date. A full payment is required 45 days prior to the departure date.
<li>Once your booking is confirmed, we will send you a confirmation letter with the proposed flights, hotels, and tours in details. Should any conditions change after the confirmation, Charming yatra reserves the right to make changes and provide you with the similar alternative options.
<li>Please note: special terms may apply to some promotions. Please refer to the specific terms and conditions which are shown on the certain pages of promotions.
</ol>

<h6 class="mt-5">COMPLAINTS AND CLAIMS :</h6>
<p>Whenever you feel unsatisfied with any service Charming yatra has provided, please inform your local tour guide or your travel consultant immediately to avoid similar problems either before or during your trip. If you want to complain or claim for compensation, you must inform us by email, regular mail, or fax in writing within 15 days upon your tour is finished. Please attach relevant receipts and substantiating evidence to the letter of claim.</p>

<h6 class="mt-5">TRAVEL DOCUMENT :</h6>
<p>A passport valid for no less than 6 months is required to travel to all countries in our program. Responsibility for documentation accuracy, passport validity and dispatch of documents rests with you. Charming yatra accepts no responsibility for any failure in this respect. You must clearly provide your full name on passport; otherwise we are not liable for any delays, transport failure. Also, travel insurance purchased in advance is strongly suggested for your own sake.</p>

<h6 class="mt-5">MEDICAL ISSUES :</h6>
<p>You must advise us in writing, at or prior to booking, of any physical, emotional or mental condition which may require professional attention during the trip or the use of special equipment. You must provide your own small, collapsible wheelchair if it is a necessity through your journey, please note not all of our trips are wheelchair-accessible. Besides, we cannot guarantee any wheelchair assistance or accessibility in international destinations. Charming yatra reserves the right to decline any trip participant whose condition, in our opinion, may affect the health, safety or enjoyment of other participants. We cannot accommodate women who are 6 month or longer pregnant. You should take into account all international travel risks and health requirements applicable to the areas you intend to visit. You are solely responsible for checking the governmental safety and security conditions, vaccination, and other health requirements in countries you are going to visit or transit.</p>

<h6 class="mt-5">INSURANCE :</h6>
<p>Charming yatra will carry out tour services after making sure you are properly insured. It is required that you should purchase proper travel insurances before leaving your home country to cover a wide range of unexpected loss and damages. Disputes: In case customer denies to pay the desired amount for availed/un-availed services due to his fault or any external factors , we have full authority to terminate the services immediately without any prior notice (even if he/she on tour) and file a case in jurisdiction court of Delhi. Customer must persistently report at the court of jurisdiction. (Note: The language to be used during the case will be English).</p>

<h6 class="mt-5">PRIVACY POLICY:</h6>
<p>Charming Yatra strongly believes in protecting the privacy of consumers of its services and products. Providing a secure environment for consumers, we do not divulge any information about you to any outside company without your prior consent.</p>
<p>Personal information provided by you while registering with us is only a mandatory submission that you are required to make as a user. We do not disclose any information provided by you such as your name, address, telephone number or e-mail id, to any outside companies.</p>
<p>However, we at Charmingyatra.com do not undertake any responsibility for any breach of contract or invasion of privacy by any third party website that is linked with Charmingyatra.com.</p>
</div>
