<section class="page-benefits journey-with-card  d-flex align-items-center">
  <!-- <div class="page-bg"></div> -->
  <div class="page-bg-right"></div>
  <div class="container v">
    <div class="row justify-content-between">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
        <div class="heading"><span>Great </span><br /> we are <br /><span> on it</span></div>
        <div class="sub-heading">Soon you will be ready to take the next big leap</div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
        <div class="card-content">
          <div class="description-text">
            <h5 class="header">Now that we have received your input, our consultant will review your profile and get back to you in 4-5 business days.</h5>
            <p>How about being a part of our social network to keep yourself updated about our latest offerings</p>
          </div>
          <div class="get-started-link">
            <div class="buttons-grid d-md-block button-margin-sm">
              <a href="/" class="btn btn-primary round bold"><i class="fa fa-linkedin"></i></a>
              <a href="/" class="btn btn-primary round bold"><i class="fa fa-instagram"></i></a>
              <a href="/" class="btn btn-primary round bold"><i class="fa fa-facebook"></i></a>
              <a href="/" class="btn btn-primary round bold"><i class="fa fa-twitter"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>